<!--
<button (mouseenter)="isHidden = !isHidden" (mouseleave)="isHidden = !isHidden">hover here</button>
<input [placeholder]="'texto123'" (mouseenter)="isHidden = !isHidden" (mouseleave)="isHidden = !isHidden">
<input [value]="'texto123'">

<ng-container *ngIf="isHidden">
  <div>
    <br>
    this container will show on button hover
  </div>
</ng-container>

-->





<!-- Tabla nativa -->
<div *ngIf="tipoTabla === 'tab_nativa'"
  style="user-select: none; display: flex; justify-content: center; align-items: center; flex-direction: column; width: 100vw; height: 100vh; ">
  <!--class="parentContainer"-->
  <div style="display: flex; flex-direction: column; width: 95vw; margin: 0 auto; height: 90vh;"> <!--class="bigBox"-->
    <div class="botones">


      <button mat-raised-button color="primary">
        <span>
          dialog
        </span>
      </button>

      <button mat-raised-button color="primary" (click)="popUP()">
        <!--(click)="openSnackBar("test ", "close")"-->
        <span>
          popUp
        </span>
      </button>


      <button matTooltip="Exporta las filas seleccionadas, si no hay selección, se exporta toda la tabla."
        [matTooltipShowDelay]="'1500'" mat-raised-button color="primary" (click)="excelExport()">
        <mat-icon fontIcon="file_download"></mat-icon>
        <span>
          Exportar
        </span>
      </button>
      <button matTooltip="Vuelve a cargar la tabla, anulando los cambios realizados a la vista."
        [matTooltipShowDelay]="'1500'" mat-raised-button color="primary" (click)="refresh();">
        <mat-icon fontIcon="refresh"></mat-icon>
        <span>Refrescar</span>
      </button>
      <button matTooltip="Invierte la selección de filas en la tabla." [matTooltipShowDelay]="'1500'" mat-raised-button
        color="primary" (click)="selectAllUnselectedRows();">
        <mat-icon fontIcon="compare_arrows"></mat-icon>
        <span>Seleccion Inversa</span>
      </button>

      <button matTooltip="Para hacer visible una columna, haga click en el nombre de la columna oculta."
        [matTooltipShowDelay]="'1500'" mat-raised-button [matMenuTriggerFor]="columnas"> <!-- boton a pulsar -->
        <mat-icon fontIcon="visibility"></mat-icon>
        <span> Mostrar Columnas </span>
      </button>


      <!--button mat-raised-button
        color="primary" (click)="cargarTotales();">
        <mat-icon fontIcon="compare_arrows"></mat-icon>
        <span>CARGAR TOTAL</span>
      </button>
      
      <button mat-raised-button
        color="primary" (click)="calcularTotal();">
        <mat-icon fontIcon="compare_arrows"></mat-icon>
        <span>CALCULAR TOTAL</span>
      </button-->

      <mat-menu #columnas="matMenu"> <!-- opciones de "mostrar columnas" -->
        <button mat-menu-item *ngFor="let column of hiddenColumns" (click)="showColumn(column)">
          <span> {{ column }} </span>
        </button>
      </mat-menu>

      <mat-menu #columnasVer="matMenu"> <!-- opciones de "ocultar" -->
        <ng-container *ngFor="let column of allColumns">
          <button mat-menu-item (click)="$event.stopPropagation()">
            <mat-checkbox (click)="toggleColumnVisibility(column); $event.stopPropagation()">
              {{ column }}
            </mat-checkbox>
          </button>
        </ng-container>
      </mat-menu>

      <div style="display: flex; align-items: center; justify-content: center;"> <!--Chips Filtro -->

        <span *ngIf="busqueda !== ''"
          style="display: flex; align-items: center; justify-content: center; gap: 1vw; margin-left: 2vw;">
          <b> Buscando: </b>
          <mat-chip-listbox>
            <mat-chip *ngFor="let item of busqueda.split(',')" (removed)="removeItem($event, item)">
              <span> {{ item }} </span>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-listbox>
        </span>

        <button style="display: flex; align-items: center; justify-content: center; gap: 1vw;"
          matTooltip="Eliminar todos los parametros de busqueda" [matTooltipShowDelay]="'1500'" *ngIf="busqueda !== ''"
          mat-icon-button color="primary" (click)="eraseAllFilters()">
          <mat-icon>backspace</mat-icon>
        </button>
      </div>


    </div>

    <div style="  border: 1px solid  lightgrey; height: 80vh; overflow: auto; align-items: center;
    justify-content: center;"><!-- class="tablaDiv" -->

      <table style="border: 1px solid  lightgrey;" mat-table [dataSource]="dataSource" matSort
        (matSortChange)="sortChange($event)" cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"> <!-- Tabla -->

        <ng-container *ngFor="let col of displayedColumns; let i = index; " [matColumnDef]="col">

          <th mat-header-cell cdkDrag sticky *matHeaderCellDef [cdkDragData]="col" mat-sort-header arrowPosition="after"
            style=" background: rgb(216, 239, 247); border-right: 1px solid lightgrey;  flex-direction: row; ">

            <span> {{col}} </span>


            <button mat-icon-button [matMenuTriggerFor]="options" style="margin-left: 4px;"
              (click)="stopPropagation($event)">
              <mat-icon>tune</mat-icon>
            </button>

            <!--/mat-header-cell-->
          </th>

          <mat-menu #options="matMenu" yPosition="above"> <!--menu options-->
            <button mat-menu-item>
              <div>
                <mat-form-field (click)="stopPropagation($event)">
                  <mat-label>Buscar</mat-label>
                  <input #inputField matInput (input)="applyFilter($event, col)" placeholder=""
                    [value]="filters[col] !== undefined ? filters[col]: ''">
                </mat-form-field>
              </div>
            </button>
            <button mat-menu-item (click)="toggleColumnVisibility(col)">
              <mat-icon>visibility_off</mat-icon>
              <span>Ocultar Columna</span>
            </button>
          </mat-menu>

          <td mat-cell *matCellDef="let element" style="border-right: 1px solid lightgrey;">
            <!--[ngClass]="{centeredCell: cellType(col) === 'checkbox' || cellType(col) === 'img' }"-->
            <ng-container *ngIf="cellType(col) === 'string'">
              {{element[col]}}
            </ng-container>

            <ng-container *ngIf="cellType(col) === 'checkbox'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                <mat-checkbox [disabled]="true" [checked]="element[col]" style="display:flex; text-align: center;
                justify-content: center;"></mat-checkbox>
              </ng-container>
            </ng-container>


            <ng-container *ngIf="cellType(col) === 'nestedObject'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{nestedToString(element[col])}}
              </ng-container>
              <ng-container *ngIf="element[col] === ''">
                <!-- no data -->
              </ng-container>

            </ng-container>






            <ng-container *ngIf="cellType(col) === 'img'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null"> <!-- max width: 10em... -->
                <img [src]="element[col]" alt="imagen" style="width: auto;  height: auto; max-width: 80%;  
                display: block; margin-left: auto; margin-right: auto; ">
              </ng-container>
              <ng-container *ngIf="element[col] === ''">

              </ng-container>
            </ng-container>

            <ng-container *ngIf="cellType(col) === 'url'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                <!-- si tiene url-->
                <a target="_blank" href="{{element[col]}}">{{element[col]}}</a>
              </ng-container>
              <ng-container *ngIf="element[col] === ''">
                <!-- no tiene url-->
              </ng-container>
            </ng-container>

            <ng-container *ngIf="cellType(col) === 'number'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                <span >
                  {{element[col]}}
                </span>
                <!--input [value]="element[col]"   style="display:flex; text-align: center;
                justify-content: center; width: 8rem;"-->
              </ng-container>
            </ng-container>
            <!--
            <ng-container *ngIf="cellType(col) === 'number'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">

                <span *ngIf="showInput === false" (mouseenter)="showInput = !showInput">
                  {{element[col]}}
                  
                </span>
                <ng-container *ngIf="showInput">
                  <input [value]="element[col]" (mouseleave)="showInput = !showInput">
                </ng-container>
              </ng-container>

            </ng-container>
            -->


            <ng-container *ngIf="cellType(col) === 'number_miles'"> <!-- comma -->
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{element[col] | number:'1.0'}} <!-- , en miles + todos sus decimales -->
                <!-- | number:'1.0-0' significa, .0 es separador de miles, y -0 es ningun decimal-->
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'percent'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{element[col] | percent}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'USD'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{element[col] | currency: 'USD'}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'GS'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{element[col] | currency: 'PYG'}}
              </ng-container>
            </ng-container>

            <ng-container *ngIf="cellType(col) === 'date'">
              <!--{{formatDate(element[col])}}-->
              <!--{{(element[col]) | datesCustom: "date"}}-->
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: 'dd-MM-yyyy'}}
              </ng-container>
            </ng-container>

            <ng-container *ngIf="cellType(col) === 'time'">
              <!--{{(element[col]) | datesCustom: "time"}}-->
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "hh:mm:ss a"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'datetime'">
              <!--{{(element[col]) | datesCustom: "datetime"}}-->
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "dd-MM-yyyy hh:mm:ss a"}}
              </ng-container>
            </ng-container>

            <ng-container *ngIf="cellType(col) === 'short'"> <!-- DATE PIPES -->
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "short"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'medium'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "medium"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'long'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "long"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'full'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "full"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'shortDate'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "shortDate"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'mediumDate'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "mediumDate"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'longDate'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "longDate"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'fullDate'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "fullDate"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'shortTime'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "shortTime"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'mediumTime'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "mediumTime"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'longTime'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "longTime"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="cellType(col) === 'fullTime'">
              <ng-container *ngIf="element[col] !== '' && element[col] !== null">
                {{(element[col]) | date: "fullTime"}}
              </ng-container>
            </ng-container>

            <ng-container *ngIf="cellType(col) === ''"> <!-- en caso de no agregar un tipo en el json  (typeValue)-->
              <span style="background-color:rgba(202, 202, 202, 0.25); font-style: italic; font-weight: bolder;">
                {{element[col]}}
              </span>

            </ng-container>
          </td>

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <!--mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="sticky-header"></mat-header-row-->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor:auto;" class="hover-effect"
          [class.selected-row]="selection.isSelected(row)" (click)="rowClick(row, $event)"
          (dblclick)="dbClick(row, $event)">

        </tr>
        <!--mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor:auto" class="hover-effect"
          [class.selected-row]="selection.isSelected(row)" (click)="rowClick(row, $event)"></mat-row-->
          
      </table>

    </div>


    <div class="footer">
      <span style=" font-weight: bolder;"> &nbsp; Items Seleccionados: {{selectedRowCount}} </span>

      <span style=" font-weight: bolder;"> &nbsp; TOTALES: {{nestedToString(totalesFinal)}} </span>
      <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizes" showFirstLastButtons
        (pageSizeChange)="pageSizeChange()"></mat-paginator>

    </div>

  </div>
</div>

<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


<!------------------------------------------------------------------------------ AG GRID SECTION ----------------------------------------------------------------------------------->

<div fxLayout="column" *ngIf="tipoTabla === 'tab_agGrid'"> <!-- ocultar si tipoTabla es "nativa" -->
  <div>
    <mat-card style="margin-top: 1% !important; margin-bottom: 1% !important; margin:4%">
      <mat-card-content>

        <div fxLayout="row" fxLayoutGap="10px">

          <button style="margin-right: 1%;" mat-raised-button color="primary" (click)="exportToExcel_Ag()">
            <mat-icon fontIcon="file_download"></mat-icon>
            Exportar Seleccion a Excel
          </button>
          <button style="margin-right: 1%;" mat-raised-button color="primary" (click)="exportAllToExcel_Ag()">
            <mat-icon fontIcon="file_download"></mat-icon>
            Exportar Todo a Excel
          </button>
          <button style="margin-right: 1%;" mat-raised-button color="primary" (click)="sizeToFit_Ag()">
            <mat-icon fontIcon="swap_horiz"></mat-icon>
            Ajustar Columnas
          </button>
          <button style="margin-right: 1%;" mat-raised-button color="primary" (click)="loadGridData_Ag()">
            <mat-icon fontIcon="refresh"></mat-icon> Refrescar
          </button>

          <!--button style="margin-right: 1%;" mat-raised-button color="warn"
            (click)="getSelectedRowData_Ag()">test_Log</button-->
        </div>

        <div fxLayout="column" style="margin-top: 1% ; margin-bottom: 1% ;  ">

          <ag-grid-angular style="width: 100%; height:75vh;" class="ag-theme-material" [rowData]="rowData"
            [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="paginationPageSize"
            [paginationPageSizeSelector]="paginationPageSizeSelector" [rowSelection]="'multiple'"
            [suppressDragLeaveHidesColumns]="false" [localeText]="ag_Grid_Locale_es"
            (gridReady)="onGridReady_Ag($event)">
          </ag-grid-angular>

          Items Seleccionados: {{selectedRowCount}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>