
.hover-effect:not(.selected-row):hover {
    background-color: rgba(211, 211, 211, 0.1);
    /* Cambia el color de fondo cuando se pasa el mouse sobre una fila */
}

.selected-row {
    background-color: lightblue;
    /* Cambia el color de fondo cuando se selecciona una fila */
}


.mdc-data-table__cell{
    padding: 0 16px 0 16px;
    font-size: 12px;
}


.mdc-data-table__header-cell{
    padding: 0 16px 0 16px;
    font-size: 14px;
    
}



.parentContainer{
    display: flex;
    border: 3px solid black;
    /*background: yellow; */
    padding: 20px; 
    flex-direction: column;
}

.bigBox{
    display: flex;
    border: 3px solid black;
    /*background: cyan; */
    padding: 20px; 
    flex-direction: column;
}


.botones{
    display: flex;
    border: 3px solid black;
    /*background: cyan; */
    padding: 20px; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1vw;

}


.tablaDiv{
    border: 3px solid black;
    
    overflow: auto; 
    width: auto;
    height: 70vh;
    flex: 0, 0, 70%;
    user-select: none;
}


/*
.tab{
    flex: 0, 0, 70%;
    user-select: none;
    overflow: auto;
    width: auto;
}*/

.mat-table{
    flex: 1;
    overflow: auto;
}