<!-- Tabla nativa -->
<div fxLayout="column" *ngIf="tipoTabla === 'nativa'">
  <div>
    <mat-card style="margin: 2%">
      <mat-card-content>

        <div fxLayout="row" fxLayoutGap="10px">

          <button fxFlex matTooltip="Exporta las filas seleccionadas, si no hay selección, se exporta toda la tabla."
            [matTooltipShowDelay]="'1500'" style="margin-right: 1%; " mat-raised-button color="primary"
            (click)="excelExport()">
            <mat-icon fontIcon="file_download"></mat-icon>
            <span>
              Exportar
            </span>
          </button>
          <button fxFlex matTooltip="Vuelve a cargar la tabla, anulando los cambios realizados a la vista."
            [matTooltipShowDelay]="'1500'" style="margin-right: 1%;" mat-raised-button color="primary"
            (click)="loadTableDataSelector();">
            <mat-icon fontIcon="refresh"></mat-icon>
            <span>Refrescar</span>
          </button>
          <button fxFlex matTooltip="Invierte la selección de filas en la tabla." [matTooltipShowDelay]="'1500'"
            style="margin-right: 1%;" mat-raised-button color="primary" (click)="selectAllUnselectedRows();">
            <mat-icon fontIcon="compare_arrows"></mat-icon>
            <span>Seleccion Inversa</span>
          </button>

          <button fxFlex style="margin-right: 1%;" mat-raised-button color="warn" (click)="getSelectedRowData()">
            <span>Log selection</span>
          </button>

          <button fxFlex style="margin-right: 1%;" mat-raised-button color="warn" (click)="testLog()">
            <span>test log</span>
          </button>

          <button fxFlex mat-raised-button [matMenuTriggerFor]="columnas"> <!-- boton a pulsar -->
            <mat-icon fontIcon="visibility"></mat-icon>
            <span> Mostrar Columnas </span>
          </button>

          <mat-menu #columnas="matMenu"> <!-- menu a activar -->
            <button mat-menu-item *ngFor="let column of hiddenColumns" (click)="showColumn(column)">
              <span> {{ column }} </span>
            </button>
          </mat-menu>

          <button fxFlex mat-raised-button [matMenuTriggerFor]="columnasVer"> <!-- boton a pulsar -->
            <mat-icon fontIcon="visibility_off"></mat-icon>
            <span> Ocultar </span>
          </button>

          <mat-menu #columnasVer="matMenu">
            <ng-container *ngFor="let column of allColumns">
              <button mat-menu-item (click)="$event.stopPropagation()">
                <mat-checkbox (click)="toggleColumnVisibility(column); $event.stopPropagation()">
                  {{ column }}
                </mat-checkbox>
              </button>
            </ng-container>
          </mat-menu>
        </div>

        <div fxLayout="column"
          style="margin-top: 1%; margin-bottom: 1%; overflow-x: auto; overflow-y: auto; height: 70vh;">

          <table mat-table [dataSource]="dataSource" matSort style="user-select: none; overflow: auto; width: auto;"
            (matSortChange)="sortChange($event)" cdkDropList cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="drop($event)"> <!-- Tabla -->

            <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">


              <mat-header-cell cdkDrag sticky *matHeaderCellDef [cdkDragData]="col" mat-sort-header
                arrowPosition="before"
                style=" background: rgba(173, 216, 230, 0.459); border-right: 1px solid lightgrey; position: sticky; ">
                <!-- ancho de columnas -->

                <span> {{col}} </span>

                <!-- menu button -->
                <button mat-icon-button [matMenuTriggerFor]="options" style="margin-left: 4px;"
                  (click)="stopPropagation($event)">
                  <mat-icon>tune</mat-icon>
                </button>

              </mat-header-cell>

              <mat-menu #options="matMenu" yPosition="above"> <!--menu options-->
                <button mat-menu-item>
                  <div fxLayout="column" fxLayoutGap="10px">
                    <mat-form-field fxFlex (click)="stopPropagation($event)">
                      <mat-label>Buscar</mat-label>
                      <input matInput style="margin-bottom: -3vh;" (keyup)="applyFilter($event, col)" placeholder=""
                        #inputSearch>
                    </mat-form-field>
                  </div>
                </button>
                <button mat-menu-item (click)="toggleColumnVisibility(col)">
                  <mat-icon>visibility_off</mat-icon>
                  <span>Ocultar Columna</span>
                </button>
              </mat-menu>

              <mat-cell *matCellDef="let element" style="border-right: 1px solid lightgrey;"> {{element[col]}}
              </mat-cell>

            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor:auto" class="hover-effect"
              [class.selected-row]="selection.isSelected(row)" (click)="rowClick(row, $event)"></mat-row>
          </table>

        </div>
        <div> &nbsp; Items Seleccionados: {{selectedRowCount}}</div>
        <mat-paginator #paginator [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<!------------------------------------------------------------------------------ AG GRID SECTION ----------------------------------------------------------------------------------->

<div fxLayout="column" *ngIf="tipoTabla === 'aggrid'"> <!--Principal AG GRID -->
  <div>
    <mat-card style="margin-top: 1% !important; margin-bottom: 1% !important; margin:4%">
      <mat-card-content>

        <div fxLayout="row" fxLayoutGap="10px">

          <button style="margin-right: 1%;" mat-raised-button color="primary" (click)="exportToExcel_Ag()">
            <mat-icon fontIcon="file_download"></mat-icon>
            Exportar Seleccion a Excel
          </button>
          <button style="margin-right: 1%;" mat-raised-button color="primary" (click)="exportAllToExcel_Ag()">
            <mat-icon fontIcon="file_download"></mat-icon>
            Exportar Todo a Excel
          </button>
          <button style="margin-right: 1%;" mat-raised-button color="primary" (click)="sizeToFit_Ag()">
            <mat-icon fontIcon="swap_horiz"></mat-icon>
            Ajustar Columnas
          </button>
          <button style="margin-right: 1%;" mat-raised-button color="primary" (click)="loadGridData_Ag()">
            <mat-icon fontIcon="refresh"></mat-icon> Refrescar
          </button>

          <button style="margin-right: 1%;" mat-raised-button color="warn"
            (click)="getSelectedRowData_Ag()">test_Log</button>
        </div>

        <div fxLayout="column" style="margin-top: 1% ; margin-bottom: 1% ;  ">
          <ag-grid-angular style="width: 100%; height:75vh;" class="ag-theme-material" [rowData]="rowData"
            [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="paginationPageSize"
            [paginationPageSizeSelector]="paginationPageSizeSelector" [rowSelection]="'multiple'"
            [suppressDragLeaveHidesColumns]="false" [localeText]="ag_Grid_Locale_es"
            (gridReady)="onGridReady_Ag($event)">
          </ag-grid-angular>
          Items Seleccionados: {{selectedRowCount}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>