/* Agrega este estilo en tu archivo CSS */
.hover-effect:not(.selected-row):hover {
    background-color: rgba(211, 211, 211, 0.1);
    /* Cambia el color de fondo cuando se pasa el mouse sobre una fila */
}

.selected-row {
    background-color: lightblue;
    /* Cambia el color de fondo cuando se selecciona una fila */
}


.mdc-data-table__cell{
    padding: 0 16px 0 16px;
    font-size: 12px;
}


.mdc-data-table__header-cell{
    padding: 0 16px 0 16px;
    font-size: 14px;
}

.buttons-row{
    display: table-cell;
}

.but{
    font-size: 10px;
}


.card{
    display: flex;
  justify-content: center; /* Center the card horizontally */
  align-items: center; /* Center the card vertically */
  height: 100vh; /* Make the container occupy the full viewport height */
}
