



<!--

    @Input en compo.ts

    Ejemplos:
            Usando https
<app-tab-mat-comp [jsonLink] = "'https://hp-api.onrender.com/api/characters'">  </app-tab-mat-comp> 
            Importando localmente
<app-tab-mat-comp [jsonLink]  = "'../assets/employees.json'"> </app-tab-mat-comp>

https://hp-api.onrender.com/api/characters
https://hp-api.onrender.com/api/spells


<app-tab-comp></app-tab-comp>

<app-tab-mat-comp [jsonLink] = "'https://hp-api.onrender.com/api/characters'">  </app-tab-mat-comp>


-->



<tabla-nativa [jsonLink]="'https://hp-api.onrender.com/api/characters'" >

</tabla-nativa>

<tabla-ag-grid [jsonLink]="'https://hp-api.onrender.com/api/characters'" >

</tabla-ag-grid>