



<!--

    @Input en compo.ts

    Ejemplos:
            Usando https
<app-tab-mat-comp [jsonLink] = "'https://hp-api.onrender.com/api/characters'">  </app-tab-mat-comp> 
            Importando localmente
<app-tab-mat-comp [jsonLink]  = "'../assets/employees.json'"> </app-tab-mat-comp>

https://hp-api.onrender.com/api/characters
https://hp-api.onrender.com/api/spells


<app-tab-comp></app-tab-comp>

<app-tab-mat-comp [jsonLink] = "'https://hp-api.onrender.com/api/characters'">  </app-tab-mat-comp>


../assets/hpApiChar.json


rowEvent
-->
<!-- tab-mat == custom dual table -->

<tabla-custom [pageSize]="37" [pageSizes]="[9, 15, 35, 45]" [tipoTabla]="'tab_nativa'" [jsonLink]="'../assets/formattedHpApiCharAll_test.json'" 
(rowEvent)="editTest($event)" 
>

</tabla-custom>
