


<div fxLayout="column"> <!--Principal-->
    <div>
      <mat-card style="margin-top: 1% !important; margin-bottom: 1% !important; margin:4%">
        <mat-card-content >
  
          <div fxLayout="row" fxLayoutGap="10px">

            <button style="margin-right: 1%;" mat-raised-button color="primary" (click)="exportToExcel()">
                <mat-icon fontIcon="file_download"></mat-icon> 
                Exportar Seleccion a Excel
            </button>
            <button style="margin-right: 1%;" mat-raised-button color="primary"(click)="exportAllToExcel()"> 
                <mat-icon fontIcon="file_download"></mat-icon>
                Exportar Todo a Excel
            </button>
            <button style="margin-right: 1%;" mat-raised-button color="primary" (click)="sizeToFit()">
                <mat-icon fontIcon="swap_horiz"></mat-icon>
                Ajustar Columnas
            </button>
            <button style="margin-right: 1%;" mat-raised-button color="primary" (click)="loadGridData()">
                <mat-icon  fontIcon="refresh"></mat-icon> Refrescar
            </button>
            


            
            

            <button style="margin-right: 1%;" mat-raised-button color="warn" (click)="getSelectedRowData()">test_Log</button>
          </div>

          <div fxLayout="column" style="margin-top: 1% ; margin-bottom: 1% ;  ">
            
            <ag-grid-angular 
                style="width: 100%; height:75vh;" 
                class="ag-theme-material"
                
                [rowData]="rowData" 
                [columnDefs]="columnDefs"
                [pagination]="true"
                
                [paginationPageSize]="paginationPageSize"
                [paginationPageSizeSelector]="paginationPageSizeSelector"

                [rowSelection]="'multiple'"
                [suppressDragLeaveHidesColumns]="false"  
                [localeText]="ag_Grid_Locale_es"
                (gridReady)="onGridReady($event)"
                
        
                >
            </ag-grid-angular>  
            Items Seleccionados:  {{selectedRowCount}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  
  
    








